@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: auto;
  font-family: 'Varela Round', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  padding: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  cursor: pointer;
}

.nav-links li {
  margin: 8px;
}

.border {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.time {
  text-align: end;
}


/**  list of books container styling */

.list-of-books {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}

.book-title {
  margin-bottom: 10px;
}

.book-list {
  width: 800px;
  display: flex;
  flex-direction: column;
  border: 4px solid black;
}

.list-block {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1px;
}

.list-block:nth-child(odd) {
  background: #ddd;
}

.hr {
  width: 100px;
  margin: auto;
  height: 2px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.remove-btn {
  border: 5px solid black;
  width: 100px;
  justify-content: flex-end;
  color: #000;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px;
}

.add-book-container {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

#my-form {
  width: 300px;
  text-align: center;
}

#my-form h2 {
  margin-bottom: 1rem;
}

.form-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-control {
  border: 3px solid #000;
  padding: 8px;
  width: 100%;
  margin-bottom: 5px;
}

#submit-btn {
  width: 60px;
  align-self: flex-end;
  border: 5px solid #000;
  padding: 5px;
  cursor: pointer;
}

.contact-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}

.contact-info-content {
  margin: 30px 0;
}

.contact-info-text {
  font-size: 20px;
}

.contact-list {
  margin: 15px 0;
  font-size: 18px;
}

.copyright {
  border: 3px solid black;
  padding: 10px;
}

.hidden {
  display: none;
}
